
#titulo {

    color: rgb(25, 0, 255);
    text-align: center;
}

.entradas-formulario {

    border: 1px solid;
    text-align: center;
    display: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

