body {

    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B262C;
    font-family: "Anek Devanagari", sans-serif;


}




#titulo {

    color: #BBE1FA;
    text-align: center;
    margin-bottom: 40px;
    
}


.entradas-formulario {

  
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 300px;
  border: 15px solid #0F4C75;
  background-color: #0F4C75;
  border-radius: 10px;
  
  
  
}

#nome-input {
    
    margin-bottom: 10px;
    padding: 10px;    
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;

}

#email-input {

    margin-bottom: 10px;
    padding: 10px;    
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;


}

#idade-input {

    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;

}

#cpf-input {

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
}

#botao {

    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 20px;
    
    

}




#Rodape {

    position: fixed;
    bottom: 0%;
    padding: 5px;
    width: auto;
    color: #BBE1FA;

}

