body {

    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1B262C;
    font-family: "Anek Devanagari", sans-serif;


}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgb(206, 143, 60) 38%, rgb(238, 48, 48) 65%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}



#titulo {

    color: #BBE1FA;
    text-align: center;
    margin-bottom: 40px;
    
}


.entradas-formulario {

  
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 300px;
  border: 15px solid #0F4C75;
  background-color: #0F4C75;
  border-radius: 10px;
  
  
  
}

#nome-input {
    
    margin-bottom: 10px;
    padding: 10px;    
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;

}

#email-input {

    margin-bottom: 10px;
    padding: 10px;    
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;


}

#idade-input {

    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;

}

#cpf-input {

    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
}

#botao {

    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 20px;
    
    

}




#Rodape {

    position: fixed;
    bottom: 0%;
    padding: 5px;
    width: auto;
    color: #BBE1FA;

}

